# App
NODE_ENV=
BACKEND_BASE_URL=

# Database
DATABASE_URL=
REDIS_URL=

DB_LOGGING=
SLOW_QUERY_THRESHOLD=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=

# Email
OAUTH_CLIENTID=
OAUTH_CLIENT_SECRET=
OAUTH_REFRESH_TOKEN=
EMAIL_CALLBACK_URL=
MAIL_USERNAME=
MAIL_PASSWORD=